@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Portal de eventos</h1>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Busca el evento que quieras visitar</h2>
        <p>
            Hay multitud de eventos en la comunidad .Net, no te puedes perder ninguno!!!
        </p>
        <div class="list-group">
                <a asp-area="" class="list-group-item list-group-item-action" asp-controller="Event" asp-action="Index">Eventos</a>
                <a asp-area="" class="list-group-item list-group-item-action" asp-controller="Sessions" asp-action="Index">Sesiones</a>
                <a asp-area="" class="list-group-item list-group-item-action" asp-controller="Speakers" asp-action="Index">Ponentes</a>
        </div>
    </div>
</div>